html {
  scroll-behavior: smooth;
  height: 100vh;
}


.container {
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100vh;
  width: 100vh;
}


.full-page {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
}

.icon {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: scale(1.2);
}


