body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: crosshair; /* Hide the default cursor */
  -ms-overflow-style: none;  /* Internet Explorer and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow: auto; /* Enables scrolling without visible scroll bars */
  z-index: 2;
}

body::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, and Opera */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer-line {
  margin-top: 10px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.social-links {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.social-links a {
  margin: 0 10px;
}

.social-links img {
  width: 30px; /* Adjust size as needed */
  height: auto;
}

#dynamic {
  color: #800000;  /* Sets the text color of the dynamic span to red */
}
