.scrolling-container {
    overflow: hidden;
    width: 100%;
    border-radius: 10px;
    background: transparent;
  }
  
  .scrolling-board {
    display: flex;
    width: calc(200%); /* Twice the width to accommodate the duplicated content */
    animation: scroll 20s linear infinite;
  }
  
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
  
  .floorplan {
    min-width: 200px;
    margin-right: 20px;
    padding: 20px;
    background: #1E1E1E;
    color: #FFFFFF;
    border: 2px solid #1E90FF;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s;
  }
  
  .floorplan h3 {
    margin-top: 0;
  }
  
  .floorplan p {
    margin: 5px 0;
  }
  
  .floorplan:hover {
    transform: scale(1.05);
  }
  
  .subscribe-button {
    background-color: #1E90FF;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .subscribe-button:hover {
    background-color: #4169E1;
  }