
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 200px);
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-block {
  width: 100%;
}

.container::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Optional: just to be safe */
}