

.container {
  display: flex;
  height: calc(100vh - 215px);  /* Adjust the height to move it upwards */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 300px;  /* Move it to the left */
  margin-top: 150px;  /* Move it upwards */
}

.card-title {
  color: #333;
}

.form-group label {
  color: #333;
}

.form-control {
  border: 1px solid #ccc;
}

.btn-block {
  width: 100%;
  background-color: #800000; /* Similar to the red color in the image */
  color: #fff;
  border: none;
}

.btn-block:hover {
  background-color: #a00000; /* Darker shade for hover effect */
}

.container::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Optional: just to be safe */
}

.custom-btn {
  background-color: #800000;
  border-color: #800000;
}
