.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 100px);
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
  color: #333;
}

.form-group label {
  color: #333;
}

.form-control {
  border: 1px solid #ccc;
}

.btn-block {
  width: 100%;
  background-color: #800000; /* Similar to the red color in the image */
  color: #fff;
  border: none;
}

.btn-block:hover {
  background-color: #a00000; /* Darker shade for hover effect */
}

.container::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Optional: just to be safe */
}